:root {
    --fondo: hsl(233, 11%, 84%);
    --fondo-input: hsl(0, 0%, 98%);
    --fondo-list-item: hsl(0, 0%, 98%);

    --text-primary: hsl(235, 19%, 35%);
    --text-secondary: hsl(234, 39%, 85%);
    --text-tertiary: hsl(236, 9%, 61%);
    --text-active: hsl(220, 98%, 61%);

    --color-border: hsl(234, 39%, 85%);
    --border-items: hsl(234, 39%, 85%);

    --Check-Background: linear-gradient hsl(192, 100%, 67%) to hsl(280, 87%, 65%);
}

.dark {
    --fondo: hsl(235, 21%, 11%);
    --fondo-input: hsl(235, 24%, 19%);
    --fondo-list-item: hsl(235, 24%, 19%);

    --text-primary: hsl(234, 39%, 85%);
    --text-secondary: hsl(235, 16%, 43%);
    --text-tertiary: hsl(236, 9%, 61%);

    --color-border: hsl(237, 14%, 26%);
    --border-items: hsl(233, 14%, 35%);

    --Purple-100-hover: hsl(236, 33%, 92%);
}

* {
    transition: background 500ms ease, color 500ms ease, border 500ms ease;
}

.todo {
    position: relative;
    min-height: 100vh;
    background-color: var(--fondo);
    color: var(--text-primary);
}

.todo__image {
    position: absolute;
    background-color: red;
    width: 100%;
    height: 12.5rem;
}

.todo__img {
    object-fit: cover;
    height: 100%;
    width: 100%;
}

.todo__container {
    position: relative;
    top: 2.5rem;
    margin: 0 auto;
    max-width: 33rem;
    padding: 0 1.5rem;
}

.todo__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1.8rem;
}

.todo__title {
    color: white;
}

.todo__dark {
    width: 1.4rem;
    aspect-ratio: 1;
    cursor: pointer;
}

.item {
    display: flex;
    background-color: var(--fondo-input);
    align-items: center;
    gap: 0.8rem;
    padding: 1rem 1.3rem;
}

.todo__new {
    border-radius: 0.4rem;
    margin-bottom: 1.4rem;
}


.todo__isCompleted {
    width: 1.6rem;
    aspect-ratio: 1;
    border-radius: 3.12rem;
    border: 2px solid var(--color-border);
    flex-shrink: 0;
    cursor: pointer;
}

.todo__input {
    width: 100%;
    background-color: var(--fondo-input);
    border: none;
}

input:focus {
    outline: none;
}

input::placeholder {
    font-size: 12px;
    color: var(--text-segundary);
}

.list {
    border-radius: 0.4rem 0.4rem 0 0;
    overflow: hidden;
}

.list__item {
    border-bottom: 1px solid var(--border-items);
}

.list__item span {
    flex-grow: 1;
}

.list__item-icon {
    width: 0.8rem;
    aspect-ratio: 1;
    flex-shrink: 0;
}

.filter__desktop {
    display: none;
}

.infoList {
    justify-content: space-between;
    font-size: 14px;
    border-radius: 0 0 0.4rem 0.4rem;
    color: var(--text-tertiary);
}

.filter__mobile {
    justify-content: center;
    gap: 2rem;
    margin-top: 1.5rem;
    border-radius: 0.4rem;
    color: var(--text-tertiary);
    font-weight: 500;
}

.filter__item-active {
    color: var(--text-active);
    font-weight: 700;
}

.footer {
    text-align: center;
    margin-top: 2.3rem;
    color: var(--text-tertiary);
}